.cnt{
    display:flex;
    justify-content: center;
    height: 400px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    
}
.data{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width:80%;
}
.flagcontainer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.flag{
    max-width: 300px;
    max-height: 300px;
}
.alldata{
    display: flex;
    flex-direction: column;
}
.appdata{
    display:flex;
}
.minidata{
    padding: 15px;
}
.title{
    font-size: 18px;
    font-weight: bold;
}