#container img{
    width: 180px;
    margin: 30px;

}

#cont img{
    width: 85px;
}
#logo{
    text-align: initial;
    margin: 10px;
}
#cont{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}
#container{
    align-items: center;
    display: flex;
   align-content: center;
   justify-content: center;
}

#poblacion, #everest, #ciudad{
    margin: 110px;
}
#info{;
    width: 40%;
}
#datos{
    margin-right: 50px;
}

button{
    border: none;
    color: white;
    border-radius: 5px;
    background-color: slategray;
    padding: 7px;
}
button:hover{
    background-color:rgb(69, 155, 212);
}
p:hover{
    color: rgb(69, 155, 212);
}
