.searchBar{
    display:flex;
    align-self: center;
    width: 500px;
}
.searchInput{
    width: 500px;
    background-color: rgb(255, 255, 255);
    color:black;
}
.searchBtn{
    background-color: #c3c3c3;
    border: solid;
    color: black;
    border-color: black;
    border-width: 2px;
    height:20px;
}